body {
 text-align: center;
 margin: 0%;
 background-color: rgb(237, 237, 237);
}

#h2 {
  /* text-colo aquamarine; */

}

/* #search-btn {
float: right;
 padding: 6px;
 border: none;
 margin-top: 8px;
 /* margin-right: 16px; */
 /* font-size: 17px; */
 /* width: 20%; */
 /* padding-left: 40%; */ 


}

#logoBar {
  display: grid;
  grid-template: 33% 33% 33% / 100%;
  justify-content: space-between;
  padding-bottom: 10%;
}
#logoBar img {
  padding-top: 5%;
}

#navbar {
  margin: 0;
  display: grid;
  grid-template: 33% / 12% 12% 12% 12% 12% 12% 12%;
  grid-gap: 2%;

}

.Vhr {
width: 1px;
height: 20px;
display: grid;
}

/* #headerImg {
;
} */

#bannersimg {
  width: 100%;
  height: 10%;
  padding-top: 8%;
}

#brackets img {
  /* display: grid; */
  /* grid-template: 50 50% / 50% ; */
  max-width: 100%;
  height: 83%;
  width: 86%;
  margin: 20px;
  padding-top: 10px;

}

#bigbrackets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-template: 50% 50% / 50%; */
}

#bigbanners {
  display: block;

}

#bigbrackets2 {
  display: grid;
  grid-template: 100% / 33% 33% 33%;
  width: 100%;
  height: 10;
}

#bigbrackets2 img {
  width: 85%;
  height: 10%;
  padding-top: 10%;
}

#bigbrackets2 form {
  width: 85%;
  height: 10%;
  padding-top: 10%;
}
/* #brackets {
  display:
} */

#topfooter {
  display: grid;
  grid-template: 30% 30% 30% / 30% 30% 30%;
  background-color: #fff;
  text-decoration-style: none;
}

#uldiv {
  text-decoration-style: none;
}

#dul {
  text-decoration-style: none;
}
